body{
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

 /*menu-lateral*/
#div-dropdown{
    visibility: hidden;
    top: 0;
    right:0;
    position: absolute;
    background-color: rgb(228, 218, 186);
    padding-top: 25px;
    padding-left: 1px;
    padding-right: 1px;
    padding-bottom: 200px;
}

#div-dropdown a{
    display: block;
    padding: 10px;
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    text-decoration: none;
}

#div-dropdown a:hover{
    background-color: rgb(201, 197, 197);
}

#fechar{
    cursor: pointer;
}
/*menu-lateral*/

.tamanho-logo{
    width: 20px;
}


/*Posicionar ícone dentro do input*/
.left-inner-addon {
    position: relative;
}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
    color: #666;
}
.left-inner-addon input.form-control {
    padding-left: 30px;
}

/*Footer*/
footer {
    text-align: center;
    font-family: "Roboto";
}
