body {
    margin: 0;
    padding: 0;
}

@media (max-width: 576px) {
    header {
        background-image: url("../imagens/fundo-abstrato-mobile.png");
        background-repeat: no-repeat;
        background-size: cover;
        max-height: 25vh;
    }

    .div-logo {
        position: relative;
        text-align: center;
    }

    .div-logo img {
        width: 150px;
    }

    #user-menu {
        position: absolute;
        top: 8px;
        right: 8px;
        cursor: pointer;
    }

    #user-menu img {
        width: 50px;
    }

    .button-contact-opt {
        width: 45%;
        border-radius: 20px 20px;
        margin-right: 5px;
    }

    .button-contact-opt:hover {
        color: #fff;
    }

    /*menu-lateral*/
    #div-dropdown {
        visibility: hidden;
        top: 0;
        right: 0;
        position: absolute;
        background-color: rgb(228, 218, 186);
        padding-top: 25px;
        padding-left: 1px;
        padding-right: 1px;
        padding-bottom: 500px;
    }

    #div-dropdown a {
        display: block;
        padding: 10px;
        font-size: 14pt;
        font-family: Arial, Helvetica, sans-serif;
        color: #000;
        text-decoration: none;
    }

    #div-dropdown a:hover {
        background-color: rgb(201, 197, 197);
    }

    #fechar {
        cursor: pointer;
    }
    /*menu-lateral*/
}

@media (min-width: 577px) and (max-width: 768px) {
    header {
        background-image: url("../imagens/fundo-abstrato-web.png");
        background-repeat: no-repeat;
        background-size: cover;
        max-height: 20vh;
    }

    .div-logo {
        position: relative;
        text-align: center;
    }

    .div-logo img {
        width: 180px;
    }

    #user-menu {
        position: absolute;
        top: 10px;
        right: 40px;
        cursor: pointer;
    }

    #user-menu img {
        width: 60px;
    }

    .button-contact-opt {
        width: 30%;
        border-radius: 20px 20px;
        margin-right: 20px;
    }

    .button-contact-opt:hover {
        color: #fff;
    }

    /*menu-lateral*/
    #div-dropdown {
        visibility: hidden;
        top: 0;
        right: 0;
        position: absolute;
        background-color: rgb(228, 218, 186);
        padding-top: 25px;
        padding-left: 1px;
        padding-right: 1px;
        padding-bottom: 500px;
    }

    #div-dropdown a {
        display: block;
        padding: 10px;
        font-size: 14pt;
        font-family: Arial, Helvetica, sans-serif;
        color: #000;
        text-decoration: none;
    }

    #div-dropdown a:hover {
        background-color: rgb(201, 197, 197);
    }

    #fechar {
        cursor: pointer;
    }
    /*menu-lateral*/
}

@media (min-width: 769px) and (max-width: 992px) {
    header {
        background-image: url("../imagens/fundo-abstrato-web.png");
        background-repeat: no-repeat;
        background-size: cover;
        max-height: 22vh;
    }

    .div-logo {
        position: relative;
        text-align: center;
    }

    .div-logo img {
        width: 210px;
    }

    #user-menu {
        position: absolute;
        top: 20px;
        right: 40px;
        cursor: pointer;
    }

    #user-menu img {
        width: 60px;
    }

    .button-contact-opt {
        width: 30%;
        border-radius: 20px 20px;
        margin-right: 20px;
    }

    .button-contact-opt:hover {
        color: #fff;
    }

    /*menu-lateral*/
    #div-dropdown {
        visibility: hidden;
        top: 0;
        right: 0;
        position: absolute;
        background-color: rgb(228, 218, 186);
        margin-top: 5.5rem;
        padding-top: 1rem;
        padding-left: 25px;
        padding-right: 40px;
        padding-bottom: 20px;
        border-radius: 50px;
    }

    #div-dropdown a {
        display: block;
        padding: 10px;
        font-size: 14pt;
        font-family: Arial, Helvetica, sans-serif;
        color: #000000;
        text-decoration: none;
    }

    #div-dropdown a:hover {
        background-color: #fe9a04;
        border-radius: 2rem;
    }

    #fechar {
        cursor: pointer;
    }
    /*menu-lateral*/
}

@media (min-width: 993px) {
    header {
        background-image: url("../imagens/fundo-abstrato-web.png");
        background-repeat: no-repeat;
        background-size: cover;
        max-height: 25vh;
    }

    .div-logo {
        position: relative;
        text-align: center;
    }

    .div-logo img {
        width: 210px;
    }

    #user-menu {
        position: absolute;
        top: 20px;
        right: 40px;
        cursor: pointer;
    }

    #user-menu img {
        width: 60px;
    }

    .button-contact-opt {
        width: 30%;
        border-radius: 20px 20px;
        margin-right: 20px;
    }

    .button-contact-opt:hover {
        color: #fff;
    }

    /*menu-lateral*/
    #div-dropdown {
        visibility: hidden;
        top: 0;
        right: 0;
        position: absolute;
        background-color: rgb(228, 218, 186);
        margin-top: 5.5rem;
        padding-top: 1rem;
        padding-left: 25px;
        padding-right: 40px;
        padding-bottom: 20px;
        border-radius: 50px;
    }

    #div-dropdown a {
        display: block;
        padding: 10px;
        font-size: 14pt;
        font-family: Arial, Helvetica, sans-serif;
        color: #000000;
        text-decoration: none;
    }

    #div-dropdown a:hover {
        background-color: #fe9a04;
        border-radius: 2rem;
    }

    #fechar {
        cursor: pointer;
    }
    /*menu-lateral*/
}
