body{
    margin: 0;
    padding: 0;
}

/*Configuração da div pix e div da barra laranja*/
#faixa-pix{
    background-color: #FF7000;
    width: 100%;
    height: 25%;
}

/*Configuração da span que está dentro da div*/
#span-pix{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32pt;
    position: relative;
    color: #ffffff;
    vertical-align: middle;
}

/*search-form*/
#search-form{
    margin-top: 30px;
    border: 3px solid #FF7000;
    border-radius: 5px;
}

#search-input{
    vertical-align: middle;
    width: 88%;
    border: 1px solid #fff;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 15pt;
}

#search-input:hover{
    border: 1px solid #fff;
}

#search-input:focus{
    outline: none !important;
    border: 1px solid #fff;
    caret-color: #000;
}

#search-img{
    margin-right: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #c9c9c9;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #c9c9c9;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #c9c9c9;
  }

/*div-options-contact*/
.div-options-contact{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

/* contact-info-section */
.contact-info-section{
    margin-top: 40px;
}

.contato-p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
}

.nome{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13pt;
}

.chave{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

.div-add-contact{
    text-align: center;
}

.span-add-contact{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
}

.info-contacts-name{
    text-align: start;
}    

.info-contacts-key{
    text-align: start;
}

.info-contacts-img{
    text-align: end;
    cursor: pointer;
}

/*filtro comprovantes*/
.box-filtro{
    margin-top: 50px;
    padding: 20px;
    box-shadow: 0 0 1em #c9c9c9;
}

.p-filtro{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

.filtro-div-1{
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
}

.filtro-div-2{
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
}

#filtro-periodo{
    background-color: #c9c9c9;
    border-radius: 20px;
    width: 200px;
    border: 1px solid #c9c9c9;
    cursor: pointer;
    padding: 5px;
}

.div-button{
    display: flex;
    justify-content: flex-end;
}

#button-buscar{
    margin-top: 10px;
    margin-right: 40px;
}

/*table*/

.table-body{
    padding: 10px;
}

.table-title{
    background-color: #c9c9c9;
}

.table-title th{
    color: #000;
    font-weight: 400;
    padding: 20px;
    border: 1px solid #a4a4a4;
}

.table-claro td{
    color: #000;
    font-weight: 400;
    padding: 20px;
    border: 1px solid #a4a4a4;
}

.table-cinza {
    background-color: #ededed;
}

.table-cinza td{
    color: #000;
    font-weight: 400;
    padding: 20px;
    border: 1px solid #a4a4a4;
}

td a{
    text-decoration: none;
}

/*rodape*/
footer {
    margin-top: 80px;
    text-align: center;
    font-family: "Roboto";
}

