main section p {
    font-weight: bold;
    text-align: center;
    margin: 1rem 0 2rem 0 ;
}
.botaoSelect {
    margin: 1rem auto;
    display: flex;
    justify-content: space-around;
}

.botoes {
    border: transparent;
    border-radius: 1rem;
    font-weight: bold;
}

.botoes:hover {
    border: 1px solid #FF7000;
}

.caixaTexto {
    margin: 2rem 0 2rem 0;
    display: flex;
    justify-content: center;
}
.caixaTexto input {
    width: 20rem;
    height: 2.5rem;
    border-color: #FF7000;
    border-radius: .5rem;
}
.selecionarContato {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
} 
.btn-outline-warning {
    color: #FF7000;
    border-color: #FF7000;
}
.botaoProsseguir {
    width: 20rem;
    height: 3rem;
}