@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

html, body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    min-height: 100%;
    width: 100%
}

/*menu-lateral*/
#div-dropdown{
    display: none;
    top: 0;
    right:0;
    position: absolute;
    background-color: #fe9a0486;
    margin-top: 5.5rem;
    padding-top: 1rem;
    padding-left: 25px;
    padding-right: 40px;
    border-radius: 50px;
}

#div-dropdown a{
    display: block;
    padding: 10px;
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    text-decoration: none;
}

#div-dropdown a:hover{
    background-color: #fe9a04;
    border-radius: 2rem;
}

#fechar{
    cursor: pointer;
}
/*menu-lateral*/

#barraPIX {
    background-color: #FF7000;
    border: 0px solid transparent;
    border-radius: .4rem;
}
#barraPIX img:first-child {
    margin-left: 1rem;
}
footer {
    margin-top: 5.5rem;
    text-align: center;
}