@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
    margin: 0;
    padding: 0;
}

.retanguloLaranja {
    background-color: #ff7000;
    width: 100%;
    height: 25%;
    border-radius: 5px;
    text-align: center;
}

.textoParteSuperior {
    margin: auto;
    color: white;
    font-size: 40px;
    font-family: "Roboto";
    vertical-align: center;
}



.botaoNavegacao {
    background-color: #ff7000;
    border: none;
    width: 200px;
    height: 200px;
    margin: 20px;
    border-radius: 20px;
    color: #ffffff;
    font-family: "Roboto";
    font-size: 25px;
}

.botaoNavegacao:hover,
.botaoNavegacao:active,
.botaoNavegacao:checked,
.botaoNavegacao:focus,
.botaoVoltar:hover,
.botaoVoltar:active,
.botaoVoltar:checked,
.botaoVoltar:focus {
    background-color: rgba(254, 154, 4, 0.6);
    border: 5px solid #ff7000;
    text-align: center;
}

footer {
    text-align: center;
    font-family: "Roboto";
}

.botaoVoltar {
    background-color: #ff7000;
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    color: #ffffff;
    font-family: "Roboto";
    font-size: 25px;
    margin: auto;
}
