#divisaoTranCons{
    display: flex;
    justify-content: space-around;
}
.btn-outline-warning {
    color: #000000;
    border-color: #FF7000;
}
.telaSelecaoTrans {
    display: grid;
}
.telaSelecaoTrans ul {
    list-style: none;
    display: flex;
    justify-content: center;

}
.telaSelecaoTrans ul li:first-child {
    margin-right: 2rem;
}
.telaSelecaoTrans ul li button{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 7rem;
    height: 7rem;
    box-sizing: border-box;
}
h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 2rem 0 1rem 2rem;
}

.telaSelecaoCons {
    display: grid;
}

.telaSelecaoCons ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.telaSelecaoCons ul li:first-child {
    margin-top: 1rem;
}
.telaSelecaoCons ul li {
    display: flex;
    width: 2rem;
    height: 2.5rem;
    margin: 0 12rem 1rem 0;
}
.telaSelecaoCons ul li button {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
   
}
.telaSelecaoCons ul li button img {
    margin-right: 3rem;
}

.button1 {
    padding-right: 4rem;
}
.button2 {
    padding-right: 5.7rem;
}
.button3 {
    padding-right: 2.3rem;
}